.cor-footer{
    background: #2980b9;
}

.card-largura {/* veio do bootstrap mas é preferível que esteja aqui*/
    max-width: 18rem;
}



.imagem-corrossel-um {
    object-fit: cover;/*para a imagem não distorcer */
    object-position: 0 50%;/* mover a foto*/
    height: 400px;
}

.imagem-corrossel-dois {
    object-fit: cover;
    height: 400px;
}

.fonte-titulo {
    font-family: 'Dancing Script', cursive;
}

.cor-especial {
    color: #2980b9 !important; /* recurso usado para subscrever o bootstrap*/
}

.botao-cor-especial {
    background-color: #2980b9;
    color: white;
}

.borda-cor-especial {
    border-color: #2980b9;
}

/* */
.card-posicao-imagem {
    object-fit: cover;/*para a imagem não distorcer */
    height: 200px
}
.contato {
    color: #2980b9;
    font-family: 'Dancing Script', cursive;
}

.contato,
h2 {
  text-align: center;
 
}
.contato a {
    color: #7f8c8d;
    font-size: 3em;
    transition: text-shadow 1s;
    transform: translate(50% 50%);
    
}

.contato a:active { /* active= quando clicar */
    background-color:#2ecc71;
    color: #3498db;
  } 
  
  .contato a:active,/*clicar */
  .contato a:hover {/* passar*/
    text-decoration: none; /*tirar traços do link */
    text-shadow: 0px 0px 10px rgba(35,35,142,1); /*Sombra */
  } 

  footer p {
      color: whitesmoke;
      text-align: center;
      margin: 0;
  }
/* */
/* */
/* */
/* */
/* */
/* */
/* */